<div class="page-wrap">
  <%= button_to "Back to User Homepage", root_path, method: :get %>

  <% @leaders.each { |user, total| %>
    <p>User: <%= user %> | Total Points: <%= total %>
      <% } %>
    </p>
</div>
