
<!-- Styles for this page will begin with a class of game...example p.gameBtn, div.gameLogo -->
<% content_for :javascripts do %>
<%= javascript_include_tag 'game', 'data-turbolinks-track': 'reload' %>
<% end %>

        <header class="headerGrey">
            <div class="logoCup"></div>
            <h3 class="logoText">Ph.Drinks</h3>
        </header>
        <section class="gameIngredients"></section>
        <!-- <section class="gameCountertop"> -->
        <div class="gameCup"></div>
        <div class="gameDrinkName"></div>
        <!-- </section> -->
        <div class="gameWoodenBar"></div>
        <!-- <section class="gameIngredientsContainer">
            <div class="gameIngredients">
                <p>bitters</p>
                <p>bourbon</p>
                <p>brandy</p>
                <p>brown sugar</p>
                <p>campari</p>
                <p>club soda</p>
                <p>cola</p>
                <p>cranberry</p>
                <p>cream</p>
                <p>dark rum</p>
                <p>dry Vermouth</p>
                <p>galliano</p>
                <p>gin</p>
                <p>ginger beer</p>
                <p>grenadine</p>
                <p>hot coffee</p>
                <p>kahlua</p>
                <p>lemon juice</p>
                <p>Light Rum</p>
                <p>lime juice</p>
                <p>mint</p>
                <p>olive Juice</p>
                <p>orange juice</p>
                <p>orange liqueur</p>
                <p>pisco</p>
                <p>rye</p>
                <p>simple syrup</p>
                <p>sugar</p>
                <p>sweet vermouth</p>
                <p>tequila</p>
                <p>triple sec</p>
                <p>vodka</p>
                <p>whiskey</p>
            </div>
        </section> -->
