
<!-- Styles for this page will begin with a class of game...example p.gameBtn, div.gameLogo -->
<% content_for :javascripts do %>
<%= javascript_include_tag 'game' %>
<% end %>

        <header class="headerGrey">
            <div class="logoCup"></div>
            <h3 class="logoText">Ph.Drinks</h3>
        </header>
        <section class="gameIngredients">
          <button class='active' value=1>Bitters</button>
          <button class='active' value=2>Bourbon</button>
          <button class='active'  value=3>Brandy</button>
          <button class='active' value=4>Brown Sugar</button>
          <button class='active'  value=5>Campari</button>
          <button class='active'  value=6>Club Soda</button>
          <button class='active' value=7>Cola</button>
          <button class='active'  value=8>Cranberry</button>
          <button class='active' value=9>Cream</button>
          <button class='active' value=10>Dark Rum</button>
          <button class='active' value=11>Dry Vermouth</button>
          <button class='active' value=12>Galliano</button>
          <button class='active' value=13>Gin</button>
          <button class='active' value=14>Ginger Beer</button>
          <button class='active' value=15>Grenadine</button>
          <button class='active' value=16>Hot Coffee</button>
          <button class='active' value=17>Kahlua</button>
          <button class='active' value=18>Lemon Juice</button>
          <button class='active' value=19>Light Rum</button>
          <button class='active' value=20>Lime Juice</button>
          <button class='active' value=21>Mint</button>
          <button class='active' value=22>Olive Juice</button>
          <button class='active' value=23>Orange Juice</button>
          <button class='active' value=24>orange Liqueur</button>
          <button class='active' value=25>Pisco</button>
          <button class='active' value=26>Rye</button>
          <button class='active' value=27>Simple Syrup</button>
          <button class='active' value=28>Sugar</button>
          <button class='active' value=29>Sweet Vermouth</button>
          <button class='active' value=30>Tequila</button>
          <button class='active' value=31>Triple Sec</button>
          <button class='active' value=32>Vodka</button>
          <button class='active' value=33>Whiskey</button>

        </section>
        <!-- <section class="gameCountertop"> -->
        <div class='gameBanner'>
          <%= button_to "Leaderboard", leaderboard_path, method: :get %>
          <%= button_to "Play Again", game_new_path, method: :get %>
        </div>
        <div class=cupFill></div>
        <div class="gameCup"></div>
        <div class="gameDrinkName"></div>
        <!-- </section> -->
        <div class="gameWoodenBar"></div>

<%= javascript_include_tag "jquery-3.1.1.min.js" %>
