<h1><%= @user.email %></h1>

<h1><% @games.each do |game| %>
  <%= game.drink_id %>
  <% end %>
</h1>

<%= button_to "Update Account", edit_user_registration_path, method: :get %>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
