//Fonts
@import url( 'https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url( 'https://fonts.googleapis.com/css?family=Arizonia');

.lato {
    font-family: 'Lato', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.arizonia {
    font-family: 'Arizonia', serif;
}
$ember: #b92400;
$vspace: 15px;
$hspace: 10px; //Mixins
@mixin center() {
    left: 50%;
    transform: translateX(-50%);
}

html {
    background: image-url('dark_wood.png');
    height: 100%;
}

body {
    // background: image-url('wineCrate.svg');
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: raleway;
}

.container {
    width: 35%;
    position: absolute;
    top: 25%;
    @include center();
}

.new_user {
    padding: $vspace $hspace;
    background: $ember;
    border-radius: 5px;
}

h2 {
    color: white;
}

input {
    // background: #ec2e00;
    border: none; //     margin: 0;
    //     text-align: center;
    //     width: 100%;
    outline: none; //     padding: 5px;
    //     transition: all 150ms linear;
}

.loginBtn {
    // padding: 5px;
    transition: all 150ms linear;
    text-align: center;
    width: 100%;
    outline: none;
    margin-top: 4px;
    font-size: 15px;
    font-family: raleway;
    color: white;
    background: $ember;
    border-radius: 5px;

    &:hover {
        background: darken($ember, 10%);
    }
}

.field {
    margin: 10px;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        color: darken(white, 25%);
    }
}

.checkbox {
    margin-top: $vspace;
}

.actions {
    // @extend input;
    width: 100%;
    height: 23px;
}

.formElem {
    width: 100%;
    outline: none;
    border-bottom: 2px solid black;
    width: 93%;

    label {
        margin-right: $hspace;
    }
}
/////////////
//Game Page//
/////////////

.headerGrey {
    // background: darken($ember, 10%);
    background: linear-gradient(to top, rgba(185, 36, 0, 0), rgba(185, 36, 0, 1));
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;

    .logoCup {
        content: url("glassCup.svg");
        height: 50px;
        margin: $vspace/2 $hspace/2 $vspace/2 1%;
    }

    .logoText {
        color: white;
        font-family: 'Arizonia';
        font-weight: 100;
        font-size: 40px;
        margin: 0 0 0 1%;
        align-self: center;
        letter-spacing: 1px;
    }
}

.gameWoodenBar {
    content: image-url('woodenBar.jpg');
    width: 100%;
    bottom: 0;
    height: 80px;
    position: absolute;
    filter: brightness(50%);
}

.gameCup {
    content: image-url('glassCup.svg');
    height: 230px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 1;
    filter: drop-shadow(8px 12px 4px black);
}

.gameDrinkName {
  display: flex;
      position: absolute;
      justify-content: center;
      top: 68%;
      width: 52%;
      font-family: 'Lato';
      font-size: 50px;
      color: white;
}

.inactive {
  background: gray;
  color: gray;
}

/////////////////
//Game Page End//
/////////////////
